doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Simple Calc
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 Simple Calc

    input#num1(type='text')
    button#add +
    button#sub -
    button#multiply X
    button#div /
    button#exp ^
    button#fac !
    button#sqr √
    input#num2(type='text')
    span =
    span#answer

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
